Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=index [QSA,L]
RewriteRule ^mapPage/?$ app/controller/siteController.php?action=mapPage [QSA,L]
RewriteRule ^browse/?$ app/controller/siteController.php?action=browse [QSA,L]
RewriteRule ^logout/?$ app/controller/siteController.php?action=logout [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^register/?$ app/controller/siteController.php?action=registerSubmit [QSA,L]
RewriteRule ^create/?$ app/controller/siteController.php?action=create [QSA,L]
RewriteRule ^vizCreate/?$ app/controller/siteController.php?action=vizCreate [QSA,L]
RewriteRule ^upload/?$ app/controller/siteController.php?action=upload [QSA,L]
RewriteRule ^users/follow/?$ app/controller/siteController.php?action=followUser [QSA,L]
RewriteRule ^users/unfollow/?$ app/controller/siteController.php?action=unFollowUser [QSA,L]
RewriteRule ^users/(.*)/updateProfile/?$ app/controller/siteController.php?action=updateProfile&username=$1 [QSA,L]
RewriteRule ^users/(.*)/editProfile/?$ app/controller/siteController.php?action=editProfile&username=$1 [QSA,L]
RewriteRule ^users/(.*)/?$ app/controller/siteController.php?action=profile&username=$1 [QSA,L]
RewriteRule ^users/(.*)/updateProfile/?$ app/controller/siteController.php?action=updateProfile&username=$1 [QSA,L]
RewriteRule ^users/(.*)/editProfile/?$ app/controller/siteController.php?action=editProfile&username=$1 [QSA,L]
RewriteRule ^users/(.*)/?$ app/controller/siteController.php?action=profile&username=$1 [QSA,L]

RewriteRule ^visualization/json/?$ app/controller/siteController.php?action=visualJson [QSA,L]
RewriteRule ^visualization/editPostTitle/?$ app/controller/postController.php?action=editTitle [QSA,L]
RewriteRule ^visualization/deletePost/?$ app/controller/postController.php?action=deletePost [QSA,L]
RewriteRule ^visualization/?$ app/controller/siteController.php?action=visualization [QSA,L]

RewriteRule ^feeds/?$ app/controller/postController.php?action=feeds [QSA,L]


# Post
RewriteRule ^posts/?$ app/controller/postController.php?action=posts [QSA,L]
RewriteRule ^posts/(\d+)/?$ app/controller/postController.php?action=post&postID=$1 [QSA,L]

RewriteRule ^posts/(\d+)/edit/?$ app/controller/postController.php?action=edit&postID=$1 [QSA,L]
RewriteRule ^posts/(\d+)/delete/?$ app/controller/postController.php?action=delete&postID=$1 [QSA,L]

RewriteRule ^posts/(\d+)/submit/?$ app/controller/postController.php?action=submit&postID=$1 [QSA,L]
