body {
    box-sizing: border-box;
    overflow: auto;
}

.contents {
    position: absolute;
    width: 100%;
    height: 85vh;
    overflow: auto;
    bottom: 0;
}


.loginForm label{
    

    font-size:15px;
    font-family: 'Modernist';
      display: inline-block;
}
#login{
    position: absolute;
    right:0;
    display: inline-block;
    width:15%;
    top:2%;

}


#first.post {
    z-index: 2;
}
tr > td
{
  padding-bottom: 25em;
}

tr{
    margin: 0;
}

table{
  border-collapse: separate;
border-spacing: 0px;
    width:100%;

}

.contents .text .view, .fav{
    font-size:10px;
    display: inline-block;
    
}

.contents .text .info{
    margin: 0;
}


#first.post .pic, #first2.post .pic,#first3.post .pic {
    background-image: url('../image/img/1.jpg');
}


#second.post .pic, #second2.post .pic,#second3.post .pic {
    background-image: url('../image/img/2.jpg');
}
#third.post .pic,#third2.post .pic,#third3.post .pic {
    background-image: url('../image/img/3.jpg');
}

#fourth.post .pic,#fourth2.post .pic,#fourth3.post .pic {
    background-image: url('../image/img/4.jpg');
}

.contents .pic {
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    background-size: cover;
}

.contents .text {
    text-align: center;
    font-family: 'Modernist';
    
}

.contents .text .title a{
    font-size: 18px;
}

.contents .text .para {
    font-size: 13px;
 
      text-overflow: ellipsis; 
}

.contents .post {
    border-radius: 25px;
    border-style: thin;
    background: rgba(0,0,0, .05);
    position: absolute;
    width: 300px;
    height: 300px;
    clear: both;
    overflow: hidden;
/*    top:0;*/
    padding: 10px;
    
}

.selected {
    text-decoration: underline;
}

div#visual_and_forms {
    float: left;
}

div#visual_create {
    float: left;
    margin:0 50px 0 0;
    display: block;

}
div#piechart{
    display: inline-block;
    float: left;
    width: 600px;
    height: 600px;
}

@media screen and (max-width: 768px) {
    table{
        margin-top:5em;
    }
    thead { float:left;}
    thead { min-width: 120px; }
    td,th { display: block; position:center;}
}
@font-face {
    font-family: 'Swistblnk';
    src: url('../font/Swistblnk Duwhoers Brush.ttf');
}

@font-face {
    font-family: 'Modernist';
    src: url('../font/Sk-Modernist-Regular.otf');
}