body{
	padding-top: 80px;
	padding-left: 50px;
    padding-bottom: 50px;
 
}

.navbar-default {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

.navbar-header{
	width: 300px !important;
	height: inherit !important;
	
}

.navbar-brand{
font-size: 30px !important;
font-family: 'Swistblnk';}

@media (max-width: 1000px) {
    .pull-right{
        display: inline-block;
        float: left !important;
    }
    .navbar .nav > li > a {
  /*  line-height: 3vh;*/
    padding-top: 10px;
    padding-bottom: 10px;
   /* height: 6vh;*/}
    .navbar-brand{
 
align-content: center;}
    .navbar-header{
    	width: 100%!important;
    }
    body{
    		padding-top: 130px;
    }
}



@media (max-width: 768px) {
  
    .navbar .nav > li > a {
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;}
    .navbar-brand{
    	float:left !important;

    
align-content: center;}
    .navbar-header{
    	width: 100%!important;
    }
    body{
    		padding-top: 50px;
    }
}


div#visual_and_forms {
    float: left;
}

div#visual_create {
    float: left;
    margin:0 50px 0 0;

}
div#piechart{
    display: inline-block;
    width: 600px;
    height: 600px;
}

div#about {
  text-align: center;
  font-size: 15px;
}

div#feedcontent {
    text-align: center;
}
 
.unfollow {
  background: red;
}


@font-face {
    font-family: 'Swistblnk';
    src: url('../font/Swistblnk Duwhoers Brush.ttf');
}

@font-face {
    font-family: 'Modernist';
    src: url('../font/Sk-Modernist-Regular.otf');
}