

body{
    box-sizing: border-box;
    overflow: hidden;
}
.header{
    
   
}
#map {
    position: absolute;
    right: 0;
    height:85vh;
    width: 65%;
    bottom: 0;
}

.loginForm label{
    

    font-size:15px;
    font-family: 'Modernist';
      display: inline-block;
}
#login{
    position: absolute;
    right:0;
    display: inline-block;
    width:15%;
    top:-20px;

}


.contents {
    position: absolute;
    left: 25%;
    bottom: 0;
    height:85vh;
    width: 57%;
    overflow: auto;
   
}
div#feed {
    float: left;
    display: block;
    text-align: left;
    padding-top: 7%;
}

.posts .post{
    
    list-style-type: none;
    margin-bottom: 5%;
}

.posts .post .title{
    font-size: 25px;
}

#title_box{
    width:50%;
    height: 5%;
}

#content_box{
     width:70%;
    height: 50%;
}

#title_box, #content_box{
    font-size: 15px;
}

.title{
    font-size:40px;
    font-family:'Modernist';
}

#editPost{
    position: absolute;
}
.content{
    font-size:20px;
    font-family:'Ariel';
}

.Buttons{
    display: block;
    margin-top:20px;

}
#first .pic{
    background-image: url('../image/img/1.jpg');
}

.post_title {
    font-size: 28px;
    display: block;
}

.post_detail {
    display: block;
    font-family: 'Modernist';
    padding-bottom: 15px;
}

.post_title,
.post_detail {
    padding-left: 10px;
}

.selected {
    text-decoration: underline;
}
@font-face {
    font-family: 'Swistblnk';
    src: url('../font/Swistblnk Duwhoers Brush.ttf');
}

@font-face {
    font-family: 'Modernist';
    src: url('../font/Sk-Modernist-Regular.otf');
}