#forms h1 {
    font-size: 80px;
    color: white;
    text-shadow: 3px 3px darkslategrey;
    font-family: 'Swistblnk';
    margin-bottom: 25px;
}

ul {
	list-style-type: none;
	display: table;
	margin: 0 auto;
}

li {
	font-size: 200%;
}
.contents {
    position: absolute;
    top: 25%;
    left: 50%;
    bottom: 0;
    height:85vh;
    width: 57%;
    overflow: auto;
   
}

div#feed {
    float: left;
    display: block;
    text-align: left;
    padding-top: 7%;
    font-size: 75%;
}

@font-face {
    font-family: 'Swistblnk';
    src: url('../font/Swistblnk Duwhoers Brush.ttf');
}

@font-face {
    font-family: 'Modernist';
    src: url('../font/Sk-Modernist-Regular.otf');
}
