body{
	padding-top: 50px;
	padding-left: 50px;
}

.navbar-default {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

.navbar-header{
	width: 300px !important;
	height: inherit !important;
	
}

.navbar-brand{
font-size: 30px !important;

@media (max-width: 1300px) {
    .navbar .nav > li > a {
  /*  line-height: 3vh;*/
    padding-top: 10px;
    padding-bottom: 10px;
   /* height: 6vh;*/}
    .navbar-brand{
/*    	float:left !important;

*/    
align-content: center;}
    .navbar-header{
    	width: 100%!important;
    }
    body{
    		padding-top: 130px;
    }
}

@media (max-width: 766px) {
    .navbar .nav > li > a {
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;}
    .navbar-brand{
    	float:left !important;

    
align-content: center;}
    .navbar-header{
    	width: 100%!important;
    }
    body{
    		padding-top: 50px;
    }
}





.navbar-brand{font-family: 'Swistblnk';}

@font-face {
    font-family: 'Swistblnk';
    src: url('../font/Swistblnk Duwhoers Brush.ttf');
}

@font-face {
    font-family: 'Modernist';
    src: url('../font/Sk-Modernist-Regular.otf');
}